<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
{{>navbar}}

 <!-- Main Header -->
    <div class="container-fluid main_header" >
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- Left Side div -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/about.png" alt="saqib" class="img-fluid" title="Saqib Weather App">
                    </figure>
                  </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weather App</p>
                    <h1>I Am A <span class="text_clr"> Software Engineer </span> At MLE Systems</h1>
                    <a href="https://in.linkedin.com/in/ikhlas-mohd-saqib-a55954179" target=""><button>About Me</button></a>
                </div>
                <!-- Right side div -->
                
            </div>

        </div>
      </div>
    </div>
    <!-- Footer Code -->
{{>footer}}
</body>
</html>